body {
    background-color:white ;
}
h1 {
      text-align: center;
      font-family:Helvetica;
      font-weight: Bold;
      font-size: 60px;
      margin-top: 5%;
}
a {
  
    text-decoration: none;
    color: black;
}
.left {
    width: 40%;
    height: auto;
    float: left;
    margin-left: 3%;

}
.right {
    width: 50%;
    height: auto;
    float: right;
    margin-right: 3%;

}
.monuments{
   color: black;
    margin-left: 3%;
}
