/* Just for fun */
body {
    background-color: #ffffff;
    color: black;

}

#all {
    width: 70%;
    height: 90%;
    margin-left: 15%;
}


div{
    text-align: center;
}

.sx {
    float: left;
    width: 45%;
    height: 70px;
    background-color: #616161;
    border-radius: 10px;
}

.dx {
    float: right;
    width: 45%;
    height: 70px;
    background-color: #616161;
    border-radius: 10px;
}

.cx {
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
    clear: both;
}

h1.titles{

    text-align: center;
    font-family:Helvetica;
    font-weight: Bold;
    font-size: 60px;
    margin-top: 5%;
    
}
